body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('po.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f2f2f2;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

/* Login Form Styles */
.login-container {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
    font-size: 28px;
    margin: 0 0 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #bf6039;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #d94c2b;
}

/* Footer Styles */
.foot {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
