* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2; /* Set a light background color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.error-container {
  margin: 0 auto;
  width: 65%;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.login-button{
  align-items: center;
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 25px;
}

.login-button:hover{
  background-color: #0056b3;
}

.error-container h1 {
  color: #FF6347;
}

.error-container div p {
  color: #333;
} 