   /* Responsive Section */
  /* Mobile devices */
  @media screen and (max-width: 480px) {
    .container {
      width: 90%;
    }
  }
  
  /* Tablets */
  @media screen and (min-width: 481px) and (max-width: 1023px) {
    .container {
      width: 70%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      width: 45%;
    }
  }